/* Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global Styles */
body {
    background-color: #1f242d;
    color: #fff;
    line-height: 1.6;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

/* Navbar */
.navbar {
    display: flex;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover, .navbar a.active {
    color: #0ef;
}

/* Projects Container */
.projects-container {
    padding: 35px 10%;
    margin-top: 60px;
}

.projects-container h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
    color: #0ef;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

/* Project */
.project {
    margin-bottom: 50px;
    text-align: left;
}

.project h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #0ef;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.project p {
    font-size: 16px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.project-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.project-img {
    max-width: 250px;
    margin-right: 20px;
    border-radius: 10px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.project-details {
    flex: 1;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.technologies {
    margin-top: 10px;
    margin-bottom: 10px;
}

.technology {
    display: inline-block;
    background-color: #0ef;
    color: #1f242d;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.language-box {
    background-color: #0ef;
    color: #1f242d;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    max-width: 100px;
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.btn-outline-primary {
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

/* Keyframes for Animations */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries */
@media (max-width: 480px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 70px 5% 0;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-content h3 {
        font-size: 24px;
    }

    .photos {
        margin-right: 0;
        margin-top: 30px;
    }

    .navbar a {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 70px 7% 0;
    }

    .home-content h1 {
        font-size: 42px;
    }

    .home-content h3 {
        font-size: 28px;
    }

    .photos {
        margin-right: 0;
        margin-top: 30px;
    }

    .navbar a {
        font-size: 18px;
        margin-left: 25px;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .home {
        padding: 70px 8% 0;
    }

    .home-content h1 {
        font-size: 48px;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 30px;
    }
}

@media (min-width: 1280px) {
    .home {
        padding: 70px 10% 0;
    }

    .home-content h1 {
        font-size: 52px;
    }

    .home-content h3 {
        font-size: 32px;
    }

    .navbar a {
        font-size: 20px;
        margin-left: 35px;
    }
}
